.textBox{
  
    width: auto;
    color: #fffbecff;
    border : 20px #776871;
    position: fixed;
    right: 5;
    top: 5;
  }
  
  .textAnalysis{
  
      color: #776871;
      font-size: xx-large;
      font-family: "Lucida Console", "Courier New", monospace;
  
  
  }
  
  .key{
  
      color: #776871;
      font-size: xx-large;
      font-family: "Lucida Console", "Courier New", monospace;
  
  
  }
  
  .box-percent{
      color: #776871;
      font-size: medium;
      font-family: "Lucida Console", "Courier New", monospace;
  }
  
  .list-group{
      font-size: large;
      font-family: "Lucida Console", "Courier New", monospace;
  
  
  }
  

  .title{
      font-size: xx-large;
      font-family: "Lucida Console", "Courier New", monospace;
      text-align: left;
      color: #c4d7f2;
      float: left;
      background-color: #776871;
  
  }
.contact{
  
      color: #c4d7f2;
      float: right;
      font-size: x-large;
      font-family: "Lucida Console", "Courier New", monospace;
      background-color: #776871;
      
  }
 .contact-right{
   
         text-align: right;
 }
  
  .navbar{
    background-color: #776871;
  }
  
    
  main {
  
      background-color: #F0f7ee;
  }
  
  main .list-group-item-romance{
    background-color: #c4d7f2;
    border : 20px #776871;
  }
  
  .box{
  
      border: 10px #776871;
  }
  
  main .list-group-item-germanic{
    background-color: #afdedc;
    border : 20px #776871;
  }
  
  main .list-group-item-other{
    background-color: #91a8a4;
    border: 20px #776871;
  }
  
  body{
    background-color: #F0F7EE;
    }
  
  textarea {
      background-color: #fffbecff;
      resize : none;
  }
  
