.textBox{
  
    width: auto;
    color: #fffbecff;
    border : 20px #5b616a;
    position: fixed;
    right: 5;
    top: 5;
  }
  
  .textAnalysis{
  
      color: #5b616a;
      font-size: xx-large;
      font-family: "Lucida Console", "Courier New", monospace;
  
  
  }
  
  .key{
  
      color: #5b616a;
      font-size: xx-large;
      font-family: "Lucida Console", "Courier New", monospace;
  
  
  }
  
  .box-percent{
      color: #5b616a;
      font-size: medium;
      font-family: "Lucida Console", "Courier New", monospace;
  }
  
  .list-group{
      font-size: large;
      font-family: "Lucida Console", "Courier New", monospace;
  
  
  }
  

  .title{
      font-size: xx-large;
      font-family: "Lucida Console", "Courier New", monospace;
      text-align: left;
      color: #c4d7f2;
      float: left;
      background-color: #5b616a;
  
  }
.contact{
  
      color: #c4d7f2;
      float: right;
      font-size: x-large;
      font-family: "Lucida Console", "Courier New", monospace;
      background-color: #5b616a;
      
  }
 .contact-right{
   
         text-align: right;
 }
  
  .navbar{
    background-color: #5b616a;
  }
  
    
  main {
  
      background-color: white;
  }
  
  main .list-group-item-romance{
    background-color: #Aba9c3;
    border : 20px #5b616a;
  }
  
  .box{
  
      border: 10px #5b616a;
  }
  
  main .list-group-item-germanic{
    background-color: #275dad;
    border : 20px #5b616a;
  }
  
  main .list-group-item-other{
    background-color: #A3b9c9;
    border: 20px #5b616a;
  }
  
  body{
    background-color: white;
    }
  
  textarea {
      background-color: #Ced3dc;
      resize: none;
      
  }
  
