
html {
  
}

body {
  font-family: "Helvetica", sans-serif;
  
}

.test{
   display: inline-block;
   color: blue;
   margin: 0  auto;
   border: 3px;
   border-color: black;
   border-style: solid;
   
}

.header {
   overflow: hidden;
   background-color: #CED3DC;
   width: auto;
   height: 40px;
   margin-top: -8px;
   margin-left: -10px;
   border-bottom: 5px solid #ABA9C3;
   border-top: 5px solid white;
}

a.headLink{
  color: red;
  
  
}

.textBox {
  
  
}

.headerBox {}
