.textBox{
	width: auto;
	color: #fffbecff;
	border: 1px solid black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}
 
.inputBox{
	margin-left: 15px;
	margin-top: 25px;
	margin-bottom: 15px;
	border: 1px solid black;
	resize: none;
	overflow: auto;
	width: 90%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius:5px;
}
 
.textAnalysis{
	color: #5b616a;
	font-size: xx-large;
	font-family: Sans-Serif, monospace;
	margin-left: 15px;
}
 
.flex-container {
	display: flex;
}
 
.flex-child {
	flex: 1;
	width: 50%;
}
 
.flex-container-contact {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}
 
.flex-child-contact {
	flex: 50%;
	max-width: 50%;
}
 
.key{
	color: #5b616a;
	font-size: xx-large;
	font-family: Sans-Serif, monospace;
	margin-left: 15px;
}
 
.box-percent{
	color: #5b616a;
	font-size: medium;
	font-family: Sans-Serif, monospace;
}
 
.list-group{
	font-size: large;
	font-family: Sans-Serif, monospace;
	margin-right: 15px;
	margin-left: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0    , 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,     0.19);
	border-radius: 15px;
}
 
.title{
	font-size: xx-large;
	font-family: Sans-Serif, monospace;
	text-align: left;
	color: #c4d7f2;
	background-color: #5b616a;
	width: 50%;
	height: 50%;
}
 
.contact{
	border: none;
	color: #c4d7f2;
	float: right;
	font-size: x-large;
	font-family: Sans-Serif, monospace;
	background-color: #5b616a;
}
 
.contact-right{
	text-align: right;
}
 
.navbar{
	background-color: #5b616a;
	box-shadow: 0 4px 8px 0 rgba(0, 0    , 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,     0.19);
	position: fixed;
}
 
main .list-group-item-romance{
	background-color: #Aba9c3;
	border : 20px #5b616a;
	border: 1px solid black;
	border-radius: 15px 15px 0 0;
}
 
.box{
	border: 1px solid black;
	margin-right: 15px;
	margin-left: 15px;
	background-color: #Ced3dc;
	box-shadow: 0 4px 8px 0 rgba(0, 0    , 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,     0.19);
	border-radius: 5px;
}
 
.box-contact2{
	border: 1px solid black;
	margin-right: 15px;
	margin-left: 15px;
	background-color: #Aba9c3;
	box-shadow: 0 4px 8px 0 rgba(0, 0        , 0, 0.2), 0 6px 20px 0 rgba(0, 0,     0,     0.19);
	border-radius: 5px;
}
 
.box-contact3{
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	color:#Aba9c3;
	box-shadow: 0 4px 8px 0 rgba(0, 0 , 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 
main .list-group-item-germanic{
	background-color: #275dad;
	border : 20px #5b616a;
	border: 1px solid black;
}
 
main  .list-group-item-other{
	background-color: #A3b9c9;
	border: 20px #5b616a;
	border: 1px solid black;
	border-radius: 0 0 15px 15px;
}
 
textarea {
	background-color: #Ced3dc;
	resize: none;
}
 
.team {
	color:#5b616a;
	text-align: center;
	font-size: xxx-large;
	font-family: Sans-Serif, monospace;
	margin-left: 50px;
	font-style: italic;
	margin-top: 50px;
}
 
.frontend{
	color:#Aba9c3;
	text-align: center;
	font-size: xx-large;
	font-family: Sans-Serif, monospace;
}
 
.name{
	color:#5b616a;
	font-size: xx-large;
	font-family: Sans-Serif, monospace;
}
 
.description{
	color:#5b616a;
	font-size: large;
	font-family: Sans-Serif, monospace;
}
 
.backend{
	margin-left:30px;
	color:#Aba9c3;
	font-size: xx-large;
	text-align: center;
	font-family: Sans-Serif, monospace;
}
 
.contact-list{
	margin-left: 30px;
	color:#5b616a;
	font-family: Sans-Serif, monospace;
}
 
.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	margin-right: 15px;
	margin-left: 15px;
	width: 80%;
	margin-bottom: 15px;
}
 
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
 
.container {
	background-color: #Ced3dc;
	padding: 2px 16px;
}
 
html, body, body > div, .app {
	height: 100%;
	background-color: #FCF7F8;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='245' height='245' viewBox='0 0 200 200'%3E%3Cg fill='none' stroke='%23CED3DC' stroke-width='1.7' stroke-opacity='0.25'%3E%3Crect x='-40' y='40' width='75' height='75'/%3E%3Crect x='-35' y='45' width='65' height='65'/%3E%3Crect x='-30' y='50' width='55' height='55'/%3E%3Crect x='-25' y='55' width='45' height='45'/%3E%3Crect x='-20' y='60' width='35' height='35'/%3E%3Crect x='-15' y='65' width='25' height='25'/%3E%3Crect x='-10' y='70' width='15' height='15'/%3E%3Crect x='-5' y='75' width='5' height='5'/%3E%3Crect width='35' height='35'/%3E%3Crect x='5' y='5' width='25' height='25'/%3E%3Crect x='10' y='10' width='15' height='15'/%3E%3Crect x='15' y='15' width='5' height='5'/%3E%3Crect x='40' width='75' height='75'/%3E%3Crect x='45' y='5' width='65' height='65'/%3E%3Crect x='50' y='10' width='55' height='55'/%3E%3Crect x='55' y='15' width='45' height='45'/%3E%3Crect x='60' y='20' width='35' height='35'/%3E%3Crect x='65' y='25' width='25' height='25'/%3E%3Crect x='70' y='30' width='15' height='15'/%3E%3Crect x='75' y='35' width='5' height='5'/%3E%3Crect x='40' y='80' width='35' height='35'/%3E%3Crect x='45' y='85' width='25' height='25'/%3E%3Crect x='50' y='90' width='15' height='15'/%3E%3Crect x='55' y='95' width='5' height='5'/%3E%3Crect x='120' y='-40' width='75' height='75'/%3E%3Crect x='125' y='-35' width='65' height='65'/%3E%3Crect x='130' y='-30' width='55' height='55'/%3E%3Crect x='135' y='-25' width='45' height='45'/%3E%3Crect x='140' y='-20' width='35' height='35'/%3E%3Crect x='145' y='-15' width='25' height='25'/%3E%3Crect x='150' y='-10' width='15' height='15'/%3E%3Crect x='155' y='-5' width='5' height='5'/%3E%3Crect x='120' y='40' width='35' height='35'/%3E%3Crect x='125' y='45' width='25' height='25'/%3E%3Crect x='130' y='50' width='15' height='15'/%3E%3Crect x='135' y='55' width='5' height='5'/%3E%3Crect y='120' width='75' height='75'/%3E%3Crect x='5' y='125' width='65' height='65'/%3E%3Crect x='10' y='130' width='55' height='55'/%3E%3Crect x='15' y='135' width='45' height='45'/%3E%3Crect x='20' y='140' width='35' height='35'/%3E%3Crect x='25' y='145' width='25' height='25'/%3E%3Crect x='30' y='150' width='15' height='15'/%3E%3Crect x='35' y='155' width='5' height='5'/%3E%3Crect x='200' y='120' width='75' height='75'/%3E%3Crect x='40' y='200' width='75' height='75'/%3E%3Crect x='80' y='80' width='75' height='75'/%3E%3Crect x='85' y='85' width='65' height='65'/%3E%3Crect x='90' y='90' width='55' height='55'/%3E%3Crect x='95' y='95' width='45' height='45'/%3E%3Crect x='100' y='100' width='35' height='35'/%3E%3Crect x='105' y='105' width='25' height='25'/%3E%3Crect x='110' y='110' width='15' height='15'/%3E%3Crect x='115' y='115' width='5' height='5'/%3E%3Crect x='80' y='160' width='35' height='35'/%3E%3Crect x='85' y='165' width='25' height='25'/%3E%3Crect x='90' y='170' width='15' height='15'/%3E%3Crect x='95' y='175' width='5' height='5'/%3E%3Crect x='120' y='160' width='75' height='75'/%3E%3Crect x='125' y='165' width='65' height='65'/%3E%3Crect x='130' y='170' width='55' height='55'/%3E%3Crect x='135' y='175' width='45' height='45'/%3E%3Crect x='140' y='180' width='35' height='35'/%3E%3Crect x='145' y='185' width='25' height='25'/%3E%3Crect x='150' y='190' width='15' height='15'/%3E%3Crect x='155' y='195' width='5' height='5'/%3E%3Crect x='160' y='40' width='75' height='75'/%3E%3Crect x='165' y='45' width='65' height='65'/%3E%3Crect x='170' y='50' width='55' height='55'/%3E%3Crect x='175' y='55' width='45' height='45'/%3E%3Crect x='180' y='60' width='35' height='35'/%3E%3Crect x='185' y='65' width='25' height='25'/%3E%3Crect x='190' y='70' width='15' height='15'/%3E%3Crect x='195' y='75' width='5' height='5'/%3E%3Crect x='160' y='120' width='35' height='35'/%3E%3Crect x='165' y='125' width='25' height='25'/%3E%3Crect x='170' y='130' width='15' height='15'/%3E%3Crect x='175' y='135' width='5' height='5'/%3E%3Crect x='200' y='200' width='35' height='35'/%3E%3Crect x='200' width='35' height='35'/%3E%3Crect y='200' width='35' height='35'/%3E%3C/g%3E%3C/svg%3E");
}
 
.logo{
	height: 85px;
}
 
.flip-card {
	background-color: transparent;
	width: 85%;
	height: 500px;
	perspective: 1000px;
	margin-left:30px;
	margin-bottom: 30px;
	margin-right: 30px;
	margin-top: 30px;
	
}
 
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
 
.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}
 
.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
 
.flip-card-front {
	background-color: #Ced3dc;
	color: black;
}
 
.flip-card-back {
	background-color: #Ced3dc;
	color: white;
	color:#5b616a;
	transform: rotateY(180deg);
	overflow: auto;
}
 
.pictureSize{
	width:100% ;
}

.bio{
	margin-left: 15px;
	margin-right:15px;
}
